<p class="p1">Before learning the angular and bootstrap,first learn the css basics</p>
<div class="container">
    <img src="./../../assets/image/images.jfif" alt="img" width="404" height="236">
  </div>
<div>
  <div class="right">
    <p><b>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</b></p>
  </div>


  <div class="rightt">
    <p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
  </div>
</div>

<div class="container1">
  <div class="clearfix">
    <img class="img2" src="./../../assets/image/images.jfif" alt="img" width="404" height="236">
    <div class="ww">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet...
    </div>
  </div>
</div>


<div class="center">
    <p>I am vertically and horizontally centered.</p>
  </div>
  