div {
    background-color: coral;
    width: 200px;
    height: 75px;
    border: 1px solid;
    overflow: visible;
  }

  .hid{
    background-color: coral;
    width: 200px;
    height: 75px;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 200px;
  }
  .oi{

    background-color: rgb(172, 86, 223);
    width: 400px;
    height: 100px;
    border: 3px solid black;
    overflow: scroll;
    margin-top: 200px;
  }