
<div class="navbar">
    <div class="icn">
    <img src="./../../assets/image/Cute-Ball-Favorites-icon.png"  width="50px" height="50px">
    </div>
    
    <ul>
    
        <li><a routerLink="login">HOME</a></li>
        <li><a routerLink="login">ABOUT US</a></li>
        <li><a routerLink="login">PORTFOLIO</a></li>
        <li><a routerLink="login">SERVICES</a></li>
        <li><a routerLinkf="login">BLOG</a></li>
    </ul>
</div>

<div class="imgcls">
    <div class="text">
        <img src="./../../assets/image/wil.png" class="imginimg">
        <h1 class="txt">WEBSITE</h1>
        <h2 class="txt1">Template Design</h2>
    </div>
   
    
</div>
<div class="icons">
    <div class="aaaa">
        <div class="col-sm-3">
            <img src="./../../assets/image/application.png" width="120px">
            <p class="prd">Products</p>
        </div>
        <div class="col-sm-3">
            <img src="./../../assets/image/chat.png" width="120px">
            <p class="prd">Chat</p>
        </div>

        <div class="col-sm-3">
            <img src="./../../assets/image/laptop.png" width="120px">
            <p class="prd">Applications</p>
        </div>
        <div class="col-sm-3">
            <img src="./../../assets/image/setting.png" width="120px">
            <p class="prd">Settings</p>
        </div>

    </div>

</div>

<div class="header">
    <div class="headers">
        <h1>HEADER 1</h1>

        <p class="H1cont">JavaScript is the world's most popular programming language.
            JavaScript is the programming language of the Web.
            JavaScript is easy to learn.
            This tutorial will teach you JavaScript from basic to advanced.JavaScript is the world's most popular
            programming language.
            JavaScript is the programming language of the Web.
            JavaScript is easy to learn.
            This tutorial will teach you JavaScript from basic to advanced</p>


        <h2>HEADER 2</h2>
        <p class="H2cont">JavaScript is the world's most popular programming language.
            JavaScript is the programming language of the Web.
            JavaScript is easy to learn.
            This tutorial will teach you JavaScript from basic to advanced.JavaScript is the world's most popular
            programming language.
            JavaScript is the programming language of the Web.
            JavaScript is easy to learn.
            This tutorial will teach you JavaScript from basic to advanced</p>
    </div>

    <div class="hui">
        <div class="media">
            <div class="media-left media-top">
                <img src="./../../assets/image/bus1.jpg" class="media-object" style="width:180px">
            </div>
            <div class="media-body">
                <h2 class="media-heading">TOP NEWS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div>

        </div>

        <div class="media">
            <div class="media-left media-top">
                <img src="./../../assets/image/bus2.jpg" class="media-object" style="width:180px">
            </div>
            <div class="media-body">
                <h2 class="media-heading">TOP NEWS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div>

        </div>
    </div>

</div>

<div class="footer">
    <p class="emil"> email- aaabbbccc123@gmail.com</p>
    <p class="crt">Copyright@2023</p>
</div>