<div class="container-fluid">
  <div class="header">
    <img src="./../../assets/image/vr.png" class="manvr" width="898px" height="872px">
  </div>
  <div class="header1">
    <p class="textt">Just the right amount<br>
      of everything</p>
    <input type="text">
    <button class="button">Submit</button>
  </div>
  <div class="yellow">
    <img src="./../../assets/image/mib.png" class="manvr1" width="698px" height="600px">

    <h1 class="h1desc">About harness multimedia<br>
      based collaboration.</h1>
    <p class="pdesc"> Mike and Morris lived in the same village. While Morris owned the largest jewellery <br>shop in
      the
      village, Mike was a poor farmer.<br> Both had large families with many sons, daughters-in-law and grandchildren.
      One
      fine day,<br> Mike, tired of not being able to feed his family, decided to leave the village</p>

  </div>
  <div class="column">
    <div class="col-sm-3 box1">
      <h1>01</h1>
      <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque
        optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?</p>
      <button class="btnn">></button>

    </div>

    <div class="col-sm-3 box2">
      <h1>02</h1>
      <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque
        optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?</p>
      <button class="btnn2">></button>


    </div>

    <div class="col-sm-3 box3">
      <h1>03</h1>
      <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque
        optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?</p>
      <button class="btnn">></button>


    </div>

    <div class="col-sm-3 box4">
      <h1>04</h1>
      <h2>LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus accusantium voluptatum cumque
        optio rem
        laboriosam reprehenderit. Ducimus ex dignissimos obcaecati. Nobis rerum libero porro est ea, sapiente maiores
        cumque aspernatur?</p>
      <button class="btnn">></button>


    </div>


  </div>
  <div class="collage">

      <div class="col-md-4 row ">

        <img src="./../../assets/image/dm1.jpg" class="manvr1" width="450px" height="450px">

      </div>
      <div class="col-md-4 row">

        <img src="./../../assets/image/aa2.png" class="manvr1" width="450px" height="450px">

      </div>

      <div class="col-md-4 row">


      </div>

      <div class="col-md-4 row">

        <img src="./../../assets/image/aa3.jpg" class="manvr1" width="450px" height="450px">

      </div>
      <div class="col-md-4 row">

        <img src="./../../assets/image/aa4.png" class="manvr1" width="450px" height="450px">

      </div>

      <div class="col-md-4 row">

        <img src="./../../assets/image/aa5.jpg" class="manvr1" width="450px" height="450px">

      </div>
    
      <div class="col-md-4 row">
        <div class="endtxt">

          <h2 class="endhead">Digitel Marketing</h2>
          <p class="enddesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Nesciunt architecto
            consequatur veniam iste
            debitis unde iure! <br>Numquam repudiandae quod rerum libero fuga! Mollitia quod <br>harum ducimus labore.
            Quisquam,
            fugiat soluta!Lorem ipsum<br> dolor sit amet consectetur adipisicing elit. <br>Nesciunt architecto
            consequatur veniam iste
            debitis unde iure! <br>Numquam repudiandae quod rerum libero fuga! Mollitia quod <br>harum ducimus labore.
            Quisquam,
            fugiat soluta!</p>
        </div>

      </div>
      <div class="col-md-4 row">

        <img src="./../../assets/image/aa6.jpg" class="manvr1" width="450px" height="500px">

      </div>

      <div class="col-md-4">

        <img src="./../../assets/image/weeee1.png" class="manvr1" width="480px" height="520px">



      </div>


     </div>
    </div>












