<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
      <!--<li><a routerLink="/login">login</a></li>
        <li><a routerLink="/aju">sea</a></li>
        <li><a routerLink="/ajay">mountain</a></li>
        <li><a routerLink="/button">sky</a></li>
        <li><a routerLink="/ajjjjj">rivers</a></li>
        <li><a routerLink="/formval">Validate</a></li>
        <li><a routerLink="/align">align</a></li>
        <li><a routerLink="/margin">margin</a></li>
        <li><a routerLink="/padding">padding</a></li>
        <li><a routerLink="/min-max-hgt-wdt">min-max-hgt-wdt</a></li>
        <li><a routerLink="/display">display</a></li>
        <li><a routerLink="/position">position</a></li>
        <li><a routerLink="/inlineblk">inlineblk</a></li>
        <li><a routerLink="/float">float</a></li>
        <li><a routerLink="/overflow">overflow</a></li>
        <li><a routerLink="/object-fit">object-fit</a></li>
        <li><a routerLink="/object-position">object-position</a></li>
        <li><a routerLink="/css-mul-colmns">css-mul-colmns</a></li>
        <li><a routerLink="/css-media-queryy">css-media-queryy</a></li>-->
        <li><a routerLink="/parent">parent</a></li>
        <li><a routerLink="/homepage">homepage</a></li>
        
        <li><a routerLink="/cartpage">cartpage</a></li>
        
        
       
      </ul>
    </div>
  </nav>

  
 
<router-outlet></router-outlet>

