.newspaper {
    column-count: 5;
    column-gap: 70px;
    column-rule-style: dotted ;
    color:rgb(13, 134, 138);
    column-rule-width: 5px;
    column-rule-color: rgb(196, 80, 45);
   
  }

  .ai{
    column-span:all;
    color: #304dcc;
  }